footer{
    margin-top: 1em;
    position: relative;
    width: 100%;
    padding: 1em 2em 0 2em;
    padding-bottom: 4em;
    background: var(--primary-font-color);
}

.logo{
    margin-top:1.5em;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.footer-content .logo{
    height: 12em;
}

.footer-ul-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.category{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height:1em;
}

.category-title{
    color: var(--bg-color);
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.footer-link{
    text-decoration: none;
    color: var(--bg-color);
}

.footer-link:hover{
    color: var(--bg-color);
}

.footer-title, .info{
    background-color: var(--primary-font-color);
    color: var(--bg-color);
    margin: 1.2em 0 0.2em 0;
    line-height: 1.2em;
}

.footer-title{
    margin-top: 2em;
    color: var(--bg-color);
}

.category > li, .info{
    line-height: 1.5em;
}

.footer-credit{
    width: 100%;
    padding: 0.6em;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: var(--bg-color);
    background: var(--primary-font-color);
}

@media (max-width: 600px) {
    .footer-content .logo{
        height: 8em;
    }
}